body{
  font-family: 'Lato', sans-serif;
  margin: auto;
  background-color: black;
  color: #00C853;
}

#entireHeader {
  width: 100%; 
  background-color: black;
  bottom: 15px;
  position: relative;
}

#allContent {
  width: 80%;
  margin: auto;
  font-size: 20px;
}

#profile {
  width: 300px;
  position: relative;
  float: right;
  bottom: 200px;
  border-radius: 15px;
  margin: 20px;
}

#intro-block {
  color: #00C853;
  font-size: 20px;
  margin-top: 15px;
  margin-left: 10%;
}

#intro-block h2 {
  font-size: 28px;
}

#profile:hover {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

.info {
  margin-top: 10px;
  font-size: 20px;
  display: inline-block;
}

#container {
  position: relative;
  bottom: 150px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 60%;
  height: 300px;
  margin: 20% auto -5% auto;
}

.navbar-nav, .navbar {
  background-color: black;
}

.nav-link {
  color: #00C853;
}

.card {
  margin: auto;
  width: 290px;
  height: 300px;
  background-color: black;
  position: relative;
  border: 3px white solid;
  align-items: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.12);
  font-size: 16px;
  color: #00C853;
  border-color: #00C853;
}

.card:hover{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
}

.card-content {
  background-size: cover;
  background-position: center;
  text-align: center;
  width: 100%;
}

.card-title {
  background-color: black;
  margin-top: 0px;
  font-size: 25px;
  color: #00C853;
  position: relative;
  bottom: 3px;
  height: 35px;
}

a {
  color: black;
  text-decoration: none;
}

#thumbUp, #thumbDown {
  height: 140px;
  margin-bottom: 5px;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  color: black;
}

footer{
  margin-top: 50px;
  width: 80%;
  margin: auto;
}

#footer-block {
  margin: 0px auto;
  text-align: center;
  color: #00C853;
  font-size: 15px;
  
}

#evalHead {
  margin-top: 10px;
  width: 90%;
  border: 2px solid #dbdbdb;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.12);
  margin-left: auto;
  margin-right: auto;
  display: block;

}

.overallScreen {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid #dbdbdb;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.12);
}

#showcase {
  background-color: #ededed;
  border: 2px solid #dbdbdb;
  height: 55%;
  width: 60%;
  margin:0 auto;
  padding: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.12);

}

#console-box{
  position:relative;
  height:300px;
  width:40%;
  background-color:#000;
  color: #55ff55;
  font-family: monospace;
  padding:6px; 
  margin: 2% auto;
  overflow: hidden;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.12);
  border: 2px solid #161616;
  font-size: 14px;
}

#gradeSelection, #moreDetail {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

.grade{
  width: 10%;
}

.detail {
  width: 20%;
}

.notAvailable, .initialAvailable
{
  opacity: 0.65;
  pointer-events: none;
}

.nav-item, .nav-link {
  margin-left: 40px;
}